/* ////====GENERAL STYLING====//// */

html {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}

@-ms-viewport {
    width: device-width;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.row {
    width: 100%;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    box-sizing: border-box;
}

.row-content {
    position: relative;
    top: 72px;
    padding: 15px 30px 10px 30px;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #F8F8F8;
    overflow: hidden;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}

/* .sidebar-container-fluid {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    margin: unset;
    padding: unset;
    z-index: 1000;
} */

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.center {
    display: flex;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 4px 1px;
}

.fw-block {
    display: block;
    width: 100%;
}

/* ////====Floating====//// */

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/*////====MARGIN====////*/

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mb {
    margin-bottom: 1.5rem;
}

.mt {
    margin-top: 1.5rem;
}

/*////====TEXT====////*/

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-xs {
    font-size: 83%;
    font-weight: 550;
}

.text-lg {
    font-size: 160%;
    padding: 1%;
    font-weight: 600;
    letter-spacing: 10px;
}

/*////====LOGIN PAGE====////*/

#page-top {
    margin-top: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 4px 1px;
    margin-bottom: 2rem;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    align-items: center;
    min-height: 3rem;
    margin-bottom: 0px;
}

.header-icon img {
    height: 2.5rem;
    width: 2.5rem;
    margin: 10px 0 0 10px;
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-image: url("../img/bg2.jpg");
    height: 100vh;
    width: 100vw;
}

.overlay {
    background-color: #03f6a34f;
    opacity: 0.2;
    height: 100vh;
}

.p-r {
    position: relative;
}

.login-body {
    position: absolute;
    background-color: #050c23ba;
    border: 1px solid;
    border-color: white;
    top: 20%;
    left: 30%;
    right: 30%;
    width: 40%;
    min-height: 55%;
    padding-bottom: 4%;
}

.login-form {
    padding: 0 12% 5% 12%;
}

.profile-icon {
    display: flex;
    justify-content: center;
}

.profile-icon img {
    width: 18%;
    height: 18%;
    border-radius: 50%;
    margin-top: -10%;
}

.input {
    padding: 3px 5px;
}

.input input {
    display: block;
    outline: none;
    font-size: 11px;
    width: 100%;
    height: 25px;
    border-radius: 6px;
}

/*BUTTONS*/

.btn {
    text-align: center;
    min-width: 55%;
    padding: 4% 22%;
    border-radius: 8px;
    outline: none;
}

.btn-orange {
    background-color: #ff7744;
    color: white;
    text-align: center;
    border: none;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
    height: 50px;
    width: 80px;
    padding: 2px 10px;
    transition-duration: 0.4s;
}

.btn-orange:hover {
    transition: all ease-in 0.3s;
    border: 2px solid #f65f27;
    color: #f65f27;
    width: fixed;
    height: fixed;
    background-color: transparent;
    /* #ff895d; */
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    font-size: 11px;
}

/*ERROR*/

.error-msg {
    color: yellow;
    margin: 1% 0;
    display: none;
}

/* ////========SIDEBAR MENU==========//// */

#header_top {
    /* background-color: #23305c; */
    /* background-color: #0b1841e3; */
    background-color: #0b1841;
    z-index: 999;
    position: fixed;
    width: 60px;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

#header_top .container {
    color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#sidebar-user {
    padding-left: 6px;
    margin-right: -6px;
}

#sidebar-assign {
    padding-left: 4px;
    margin-right: -4px
}

#sidebar-logout {
    padding-left: 5px;
    margin-right: -5px;
}

#nav {
    margin-top: 5rem;
}

#nav li {
    display: inline-flex;
    width: 100%;
    margin-top: 1rem;
    transition: 0.5s ease-in;
}

#nav #sidebar-logout-link-li {
    margin-top: calc(100vh - 500px);
}

#nav li a {
    width: 100%;
    padding: 12px;
}

#nav li:hover {
    background-color: #587bd3;
    /* transform: translateX(15px); */
    transition: 0.3s ease-out;
    /* background-color: blue; */
}

#nav #sidebar-logout-link-li:hover {
    background-color: #db7474;
}

.sidebar.label-text {
    vertical-align: super;
}

.label-text {
    font-size: 12px;
}

.sys-name .label-text {
    margin-left: 20px;
}

.label-text.float-right {
    margin: 15px;
}

.header-icon>.label-text {
    font-size: 15px;
    margin: 15px;
}

.sidebar.label-text {
    margin-top: -5px;
    margin-left: 15px;
}

.fa {
    width: 25%;
}

.hide {
    display: none;
}

#header_top .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 0px 1px;
}

/* .fade-left {
    animation: appear 0.5s;
}

.fade-right {
    animation: disappear 0.5s;
}

.fade-in {
    transition: all 0.2s;
    animation: fadeIn 0.5s ease;
} */

/* ////====LOGO_HOLDER====//// */

.logo-holder {
    position: fixed;
    left: 0;
    width: 100%;
    height: 60px;
    margin-top: 0;
    background-color: #587bd3;
    color: white;
    z-index: 2000;
}

.logo-holder .row {
    justify-content: flex-start;
}

.logo-holder h6 {
    margin-top: 18px;
    font-size: 1rem;
    margin-block-end: unset;
}

.sys-name {
    width: 50%;
}

.user-profile {
    width: 50%;
    margin-right: 3%;
}

.user-profile img {
    border-radius: 50%;
    margin: 10px;
}

.user-profile .fa {
    width: 5%;
    margin: 11px 10px;
    font-size: 35px;
    color: white;
}

.user-profile .fa:hover {
    color: #0b1841;
}

/*////====ANIMATIONS====////*/

@keyframes appear {
    0% {
        transform: translate(-100px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        ;
    }
    100% {
        opacity: 1;
    }
}

/*////==== MEDIA QUERIES===//// */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 599px) {
    .header-icon img {
        height: 12%;
        width: 12%;
        padding-top: 1%;
    }
    .input input {
        height: 12px;
    }
    .login-body {
        right: 10%;
        left: 10%;
        width: 80%;
        min-height: 45%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 767px) {
    .text-lg {
        font-size: 100%;
        padding-top: 2%;
    }
    .text-xs {
        font-size: 50%;
    }
    .label {
        font-size: 70%;
    }
    .header-icon img {
        height: 6%;
        width: 6%;
        padding-top: 1%;
    }
    .btn {
        min-width: 50%;
        font-size: 30%;
        text-align: center;
        padding: 4% 10%;
    }
    .mt {
        margin-top: 2%;
    }
    .mb {
        margin-bottom: 5%;
    }
}

/* Medium devices (large laptops and desktops, 1024px and down) */

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .login-body {
        right: 20%;
        left: 20%;
        width: 60%;
        min-height: 45%;
    }
}

/* ////======== ACTUAL CONTENT BODY ==========//// */

#background-shade {
    display: none;
    position: fixed;
    top: 0;
    left: 60px;
    width: calc(100% - 60px);
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: 0.3s ease all;
    z-index: 100;
}

.page-container {
    position: relative;
    left: 60px;
    width: calc(100% - 60px);
    height: 100vh;
    color: black;
    z-index: 1;
    background-color: #EFEFEF;
}

.modal-container {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(100vh - 60px - 4px);
    width: calc(100% - 0px);
    z-index: 1000;
    /* background-color: #F8F8F8; */
    background-color: #F0F0F0;
    transform: translateY(42px);
    opacity: 0;
    transition: transform 0.6s cubic-bezier(0.7, .7, .3, 1), opacity 0.5s cubic-bezier(0.5, .2, .8, 1);
}

.modal-show {
    display: unset;
    transition: 0.5s ease;
    transform: translateY(72px);
    /* transition: transform 0.5s cubic-bezier(0.5, .5, .5, 1), opacity 0.5s ease-in; */
    opacity: 1;
}

.modal-form-container {
    width: 1000px;
    position: relative;
    margin: auto;
    transform: translateY(calc(-50% - 105px));
    transition: 0.3s cubic-bezier(0, .4, .6, 1);
    z-index: 999;
}

.modal-form-container._user {
    max-height: 1200px;
    top: 50vh;
}

.modal-form-container._client {
    max-height: 1200px;
    top: 50vh;
}

.modal-form-container._project {
    max-height: 1200px;
    top: 50vh;
}

.modal-show .modal-form-container {
    transform: translateY(calc(-50% - 85px));
    transition: transform 0.3s 0.2s cubic-bezier(0.5, .5, .5, 1), opacity 0.5s ease-in;
    z-index: 1001;
}

.modal-form-input-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.modal-form-input-container._dark {
    background-color: #00000005;
    border-radius: 8px;
}

.modal-form-input-container:nth-child(even) {
    /* background-color: #00000005 */
}

.modal-form-input-container:nth-child(odd) {
    /* background-color: #00000005 */
    /* background-color: #00000010; */
}

/* ////======== USER LIST ==========//// */

.user-list {
    color: black;
    position: relative;
}

.user-list .d-flex .row-content {
    padding: 1% 2%;
}

.page-title {
    position: fixed;
    width: calc(100% - 60px);
    padding: 15px 40px 10px 40px;
    background-color: white;
    color: #505050;
    font-size: 30px;
    letter-spacing: 15px;
    border-bottom: 1px solid #10101040;
    box-shadow: 0 1px 4px #10101040;
    z-index: 2000;
}

.page-title span {
    height: 40px;
    width: 40px;
    font-size: 40px;
    color: #505050;
}

.btn-holder {
    width: 50%;
}

.register-btn {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    max-width: 25%;
    border-radius: 8px;
    margin: 0.83em 5% 0.83em auto;
    padding: 2% 3%;
    font-size: 85%;
}

.content-width {
    width: 100%;
}

/*=== USER_LIST NAV=== */

.userlist-nav {
    display: inline-flex;
    padding-left: 0;
    font-size: 80%;
    align-items: center;
    line-height: 0.8rem;
    margin-bottom: 0.2rem;
}

.userlist-nav a {
    /* margin-right: 0.5rem; */
    transition: cubic-bezier(0.5, .1, .9, 1) 0.5s;
    border: 2px solid black;
    border-width: 0 0 2px 0;
    font-weight: 600;
}

.userlist-nav a:hover {
    /* border-radius: 4px; */
    transition: ease-out 0.3s;
    transition: unset;
}

.userlist-nav a li {
    padding: 0.7rem 1.3rem 0.5rem 1.3rem;
}

.userlist-nav a:nth-child(1) {
    border-color: #7e6cf4;
    color: #7e6cf4;
}

.userlist-nav a:nth-child(1):hover {
    background-color: #7e6cf4;
    color: white;
}

.userlist-nav a:nth-child(2) {
    border-color: #ED5D2A;
    color: #ED5D2A;
}

.userlist-nav a:nth-child(2):hover {
    background-color: #ED5D2A;
    color: white;
}

.userlist-nav a:nth-child(3) {
    border-color: orange;
    color: orange;
}

.userlist-nav a:nth-child(3):hover {
    background-color: orange;
    color: white;
}

.userlist-nav a:nth-child(4) {
    border-color: #55AF33;
    color: #55AF33;
}

.userlist-nav a:nth-child(4):hover {
    background-color: #55AF33;
    color: white;
}

.userlist-nav a:nth-child(5) {
    border-color: blue;
    color: blue;
}

.userlist-nav a:nth-child(5):hover {
    background-color: blue;
    color: white;
}

.userlist-nav a:nth-child(6) {
    border-color: rgb(66, 66, 66);
    color: rgb(66, 66, 66);
}

.userlist-nav a:nth-child(6):hover {
    background-color: rgb(66, 66, 66);
    color: white;
}

.userlist-nav a:nth-child(1):hover {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.userlist-nav a:nth-last-child(1):hover {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#table-nav {
    font-size: 80%;
    width: auto;
    padding: 1px;
    border-radius: 4px;
    margin-bottom: 5px;
    box-shadow: 0 3px 4px #00000050;
}

#table-nav .flex-col {
    padding-left: 14vw;
    padding-right: 15vw;
}

#table-nav .row {
    margin-left: 1rem;
    padding: 2px;
}

.table-body {
    overflow: scroll;
    height: calc(100vh - 230px);
    padding-bottom: 10px;
}

#table-nav .fa {
    margin-left: -10px;
    background-color: white;
    width: 50px;
    padding: 7px 7px;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}

.card {
    width: 99%;
    position: relative;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px 0px;
    margin-top: 5px;
    transition: 0.3s ease;
}

.card:hover {
    background-color: #00000010;
}

.card._user:hover {
    background-color: #84f7bf25;
    /* #068bde15; */
}

.card._client:hover {
    background-color: #28c12815;
    /* #b7e1cd85; */
}

.card._project:hover {
    background-color: unset;
}

.card._project:hover .card-header {
    background-color: #068bde15;
    /* #068bde15; */
}

.card-header {
    font-size: 80%;
    padding: 1.2rem 15vw 1.1rem 14vw;
    display: block;
    transition: 0.3s ease;
}

.display {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-center;
    width: 100%;
}

.display li {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    min-width: 7.5%;
    padding: 0px 5px;
    font-size: 100%;
    justify-content: center;
    margin: auto;
}

.display li:nth-child(2) {
    min-width: 20%;
    margin-left: 5%;
}

#table-nav .display li:nth-child(2) {
    justify-content: space-around;
    min-width: 20%;
}

.display li .user-name {
    justify-content: center;
    margin: auto;
}

.smallpic {
    border-radius: 25%;
    float: left;
    margin: 0 .5rem 0 -.5rem;
    height: 40px;
    width: 40px;
    margin: 0px 5px;
}

.pos {
    height: 12px;
    border-radius: 8px;
    color: white;
    padding: 0.3rem 0.8rem;
    text-align: center;
    line-height: 100%;
    transition: 0.3s ease;
}

.pos-PM {
    background-color: #ED5D2A;
    border: 2px solid #F29E74;
}

.pos-PL {
    background-color: orange;
    border: 2px solid rgb(255, 217, 0);
}

.pos-SE {
    background-color: #55AF33;
    border: 2px solid #BEFB62;
}

.pos-PG {
    background-color: #1344AC;
    border: 2px solid #76A6F8;
}

.edit {
    padding: 6px;
    border: 1px solid #b9b8b8;
    border-radius: 10px;
    width: 50px;
    color: grey;
    background-color: white;
    transition: all ease-out 0.3s;
    cursor: pointer;
}

.edit:hover {
    background-color: #b9b8b8;
    color: white;
}

/* ////======== USER MODAL ==========//// */

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 20%;
}

.right {
    width: 80%;
}

.column.left {
    background-color: #F0F0F0;
    text-align: center;
    margin-right: 20px;
    border-radius: 10px;
}

.column.right {
    overflow: scroll;
    border-radius: 10px;
    transition: 0.5s ease;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column.right div label {
    margin-left: 20px;
    letter-spacing: 3px;
    color: #0b1841;
}

.column.right ._half {
    display: inline-block;
    width: 49%;
}

.column.right ._third {
    display: inline-block;
    width: 32%;
}

.column.right ._full {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right._user {
    min-height: 580px;
}

.right._client {
    justify-content: unset;
}

.right._project {
    margin-top: -25px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

label {
    text-align: left;
    font-weight: bold;
}

img.dp {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
    margin: 25px auto 50px;
    border-radius: 10px;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

img.dp._user {
    border: 2px solid #61ce99;
}

img.dp._client {
    border: 2px solid #28c128;
}

img.dp._project {
    border: 2px solid #3AA0DE;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 50px;
    color: white;
    width: unset;
    transition: 0.3s ease-out;
}

.close:hover {
    color: #23305c;
}

img.cross {
    cursor: pointer;
    width: 45px;
    height: 45px;
}

input[type=text], input[type=email], input[type=password], input[type=date], input[type=number], select {
    width: calc(100% - 40px);
    padding: 10px 20px;
    margin: 8px 20px 8px;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.58);
    box-sizing: border-box;
    border-radius: 4px;
}

input:read-only {
    cursor: unset;
    background-color: lightgray;
    user-select: none;
}

.modal-title {
    position: relative;
    font-size: 24px;
    letter-spacing: 10px;
    text-align: center;
    color: #FFFBFB;
    border: none;
    box-sizing: border-box;
    height: 56px;
    line-height: 56px;
    margin: unset;
    margin-bottom: 20px;
    width: calc(100vw - 60px);
    box-shadow: 0 3px 4px #00000050;
    z-index: 1009;
}

.button, button {
    border: none;
    background-color: white;
    padding: 16px 0px;
    text-align: center;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0;
    transition-duration: 0.3s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 20px;
    box-sizing: border-box;
}

button.cancel {
    color: gray;
    border: 2px solid gray;
    margin-bottom: 80px;
}

button.cancel:hover {
    background-color: gray;
    color: white;
}

.submit-button, button {
    color: #43A1F8;
    border: 2px solid#43A1F8;
    text-align: center;
}

.submit-button:hover, button:hover {
    background-color: #43A1F8;
    color: white;
}

.delete-button {
    color: #EB2222;
    border: 2px solid #EB2222;
    text-align: center;
    margin-bottom: 30px;
}

.delete-button:hover {
    background-color: #EB2222;
    color: white;
}

.button .fa {
    margin-right: 5px;
}

/* ////======CLIENT LIST======//// */

.clients .card .card-header a .display li:nth-child(2) {
    min-width: 7.5%;
}

.clients .card-header {
    padding-left: 2rem;
}

.clients .display li {
    justify-content: space-evenly;
}

.clients .smallpic {
    margin-left: 4px;
}

/* ////======CLIENT_MODAL======//// */

#client-modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
}

#client-modal .container-fluid {
    margin: 0;
    padding: 0;
    height: 100%
}

#client-modal .container-fluid .container {
    margin: 4rem;
}

.box1 {
    position: relative;
    width: 30%;
    color: black;
    display: flex;
    justify-content: center;
}

.box1 img {
    width: 50%;
    height: 50%;
}

.box2 {
    position: relative;
    width: 70%;
    color: black;
}

.box2 input {
    width: 80%;
    height: 2rem;
    border-radius: 4px;
    line-height: 1.5rem;
}

.box2 .btn {
    min-width: 20%;
    width: 20%;
    padding: 1rem;
    margin-top: 5rem;
    height: auto;
}

.blue {
    background-color: #587BD3;
}

#client-modal .submit-button {
    font-size: 17px;
}

#client-modal .delete-button {
    margin-right: 10%;
}

#client-modal .close img {
    height: 40px;
    width: 40px;
    margin-block-start: 15%;
}

.modal {
    padding: 5rem 1rem;
    background-color: #f9f6f6;
    border-radius: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 4px 1px;
    margin: auto;
    width: 70%;
}

/* ////====ROW ADJUSTMENTS====//// */

.row-adjust-adjacent {
    border-radius: unset;
    box-shadow: unset;
    margin-top: 0;
}

.row-adjust-compressed {
    padding-top: 7px;
    padding-bottom: 7px;
}

.row-adjust-smaller-pic {
    height: 20px;
    width: 20px;
}

.row-adjust-tiny-pos {
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    border: unset;
}

.row-adjust-card-no-shadow {
    box-shadow: unset;
    opacity: 0;
}

.row-adjust-card-hide {
    /* height: 0px; */
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0;
}

.row-adjust-button-compressed {
    padding: 0;
    font-size: 0;
    border-radius: 4px;
    width: 22px;
}

.row-adjust-fast-animation {
    transition: 0.3s ease;
}

.no-animation {
    transition: unset;
}

/* ////====COLORS====//// */

.primary {
    border-top: 3px solid #45b6fb;
    background-color: #3AA0DE;
    border-bottom: 3px solid #068bde;
    border-left: 1px solid #3AA0DE;
    border-right: 1px solid #3AA0DE;
    color: white;
}

.midori {
    border-top: 3px solid #33D70B;
    background-color: #28c128;
    border-bottom: 3px solid #2e9c2e;
    color: white;
}

.mild-midori {
    border-top: 3px solid #6df7b5;
    background-color: #6ae2a8;
    border-bottom: 3px solid #4ab984;
    color: #064828;
}

.gray {
    border-top: 3px solid lightgray;
    background-color: darkgray;
    border-bottom: 3px solid gray;
    color: white;
}

.orange {
    background-color: orange;
    border-bottom: 3px solid #ff895d;
    color: white;
}

.mishti-orange {
    background-color: #ff7744;
}

.fa-color-primary {
    color: #3AA0DE;
}

.fa-color-midori {
    color: #28c128;
}

.fa-color-mild-midori {
    color: #4ab984;
}

.transparent {
    opacity: 0;
    cursor: unset;
    user-select: none;
}

/* ////====PROJECT-LIST STARTS====//// */

.project.table-body {
    font-size: 14px;
}

.project #table-nav .flex-col {
    padding: 0;
    padding-right: 17px;
    justify-content: space-around;
}

.project .card-header {
    padding: 1.2rem 0 1.1rem;
    border-bottom: 0.5px solid #00000010;
}

.project .card-header.row-adjust-compressed {
    padding: 7px 0 7px;
}

.project .card-header:hover {
    cursor: pointer;
}

.project .display {
    justify-content: space-around;
}

.project .display li {
    min-width: 4%;
}

.project #table-nav .display li:nth-child(2) {
    min-width: 10%;
    margin-left: 0;
}

.project .display li:nth-child(1) {
    min-width: 13.5%;
    margin-left: 0;
}

.project .display li:nth-child(2) {
    min-width: 10%;
    margin-left: 0;
}

.project .display li:nth-child(3) {
    min-width: 8.5%;
    margin-left: 0;
}

.collapse {
    display: none;
}

.card-body {
    width: 98%;
    position: relative;
    padding: 1.25rem 2rem;
    margin-left: 1.5rem;
}

.card-body._accordion {
    margin: unset;
    width: 100%;
}

.project .collapse {
    background-color: white;
    margin: 0;
    border-radius: 0 0 10px 10px;
}

.project .btn {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
    transition: 0.1s ease-out;
}

.project .fa {
    width: 100%;
}

.round-btn {
    border-radius: 8px;
    height: 30px;
    width: 30px;
    transition: 0.3s ease-out;
}

.round-btn {
    cursor: pointer;
}

.danger {
    border-top: 3px solid #ff6b6b;
    background-color: #ff1010;
    border-right: unset;
    border-left: unset;
    border-bottom: 3px solid #cc0909;
    color: white;
}

.success {
    /* background-color: #6AF141; */
    border-top: 3px solid #33D70B;
    background-color: #28c128;
    border-bottom: 3px solid #2e9c2e;
    border-left: unset;
    border-right: unset;
    color: white;
}

.success:hover {
    border-top: 0px solid #33D70B;
    background-color: #28c128;
    border-bottom: 0px solid #2e9c2e;
    /* box-shadow: 0 0 5px #28c128; */
}

.danger:hover {
    background-color: #ff1010;
    border-top: 0px solid #ff6b6b;
    border-bottom: 0px solid #cc0909;
    /* box-shadow: 0 0 5px #ff1010; */
}

.btn.primary:hover {
    border-top: 0px;
    border-bottom: 0px;
    /* box-shadow: 0 0 5px #3AA0DE; */
}

.action {
    position: relative;
    margin-top: -30px;
    margin-left: auto;
    width: 40px;
    left: 30px;
}

.action ul {
    position: absolute;
    right: 15px;
}

.add-minus-holder {
    position: relative;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    left: 30px
}

.add-minus-holder ._plus {
    margin-bottom: 50px;
}

.add-minus-holder .round-btn {
    position: absolute;
    bottom: 0px;
    right: 0;
}

.action button {
    position: relative;
    text-decoration: none;
    margin: 4px 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 0;
}

#accordian .row {
    display: flex;
    justify-content: start;
    flex-direction: row;
    box-sizing: border-box;
}

#accordian table {
    position: relative;
    border-collapse: collapse;
    font-size: 12px;
    margin-bottom: 0px;
}

.table-left {
    position: relative;
    left: 0;
    width: 180px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 7px 0px;
    border-radius: 6px;
}

.table-left table {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    overflow: hidden;
    /* border-radius: 8px; */
}

.table-left td {
    border: none;
}

.table-left tr:nth-child(even) {
    background-color: #f4f4f4;
}

.table-left tr:nth-child(odd) {
    background-color: #ffffff;
}

.project-rhs {
    position: relative;
    display: flex;
    height: fit-content;
    left: 40px;
}

.table-right {
    position: relative;
    left: 20px;
    /* margin-right: 4%; */
    margin-left: 10px;
    width: auto;
    height: fit-content;
    background-color: #F88316;
}

.table-right.row {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px 2px;
}

.table-right .row-total {
    border-bottom: 2px solid grey;
}

.table-des-container {
    overflow: scroll;
    height: fit-content;
    max-width: 600px;
    background-color: #4772FF;
}

/* ///===HIDING SCROLLBAR IN CHROME===/// */

/* body ::-webkit-scrollbar {
    display: none;
} */

::-webkit-scrollbar {
    height: 5px;
    width: 0;
    margin-top: -10px;
}

/* Track */

::-webkit-scrollbar-track {
    height: 0;
    width: 10%;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #0026a3;
    border-radius: 10px;
    height: 3px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #011b72;
}

.table-des {
    width: fit-content;
    background-color: white;
}

.table-right .table-fix th:nth-child(1) {
    border-top: unset;
    border-right: 0.5px solid white;
    background-color: #F88316;
}

.table-right .table-fix th:nth-child(2) {
    background-color: #F88316;
    border-top: unset;
    /* border-right: 0.5px solid white; */
}

td, th {
    border: 0.5px solid #dddddd;
    padding: 4px 10px;
    text-align: center;
    vertical-align: top;
    /* width: 100%; */
    height: 1rem;
    line-height: 1rem;
    overflow-wrap: break-word;
    box-sizing: border-box;
    width: 80px;
    padding: 8px 5px;
}

th {
    /* border-top-left-radius: 2px;
    border-top-right-radius: 2px; */
    background-color: #4772FF;
    border-top: unset;
    color: white;
    font-weight: unset;
    /* padding: 7px 9px 7px; */
    font-size: 10px;
}

td {
    height: 1.3rem;
    line-height: 1.3rem;
    justify-content: center;
    font-size: 10px;
}

.table-left table td {
    padding-top: 6px;
    padding-bottom: 6px;
}

.table-left table td:first-of-type {
    width: 80px;
    font-size: 11px;
    padding-left: 20px;
    /* font-weight: 550; */
    text-align: center;
    color: #2A2A2A;
}

.table-left table td:last-of-type {
    width: 220px;
    font-size: 10px;
    padding-right: 30px;
    text-align: right;
    color: #5A5A5A;
}

.table-right .table-fix td:nth-child(1) {
    width: 120px;
    padding-left: 20px;
    text-align: left;
}

.table-right .table-fix .row-total td:nth-child(1) {
    text-align: center;
    font-size: 12px;
}

.table-right .table-fix td:nth-child(2) {
    width: 80px;
    font-size: 12px;
}

.table-right tr:nth-child(2) {
    /* border-bottom: 1.7px solid gray; */
}

.table-fix {
    overflow-x: scroll;
    box-shadow: none;
    background-color: white;
}

#table-nav th {
    border: 0px solid #dddddd;
    margin: 0;
    font-size: 100%;
}

td img {
    border-radius: 25%;
    float: left;
    margin: 0 .5rem 0 -.5rem;
    height: 1rem;
    width: 1rem;
    margin: 0px 5px;
}

.order-tag {
    width: 45px;
    height: 9px;
    padding: 4px 0px;
    text-align: center;
    line-height: 10px;
    border-radius: 10px;
}

.order-tag._red {
    color: #BA4137;
    background-color: #fffafa;
    border: 1px solid #BA4137;
}

.order-tag._orange {
    color: #ff6600;
    background-color: #fffbf9;
    border: 1px solid #ff6600;
}

.order-tag._green {
    color: #387C22;
    background-color: #fafffa;
    border: 1px solid #387C22;
}

.order-tag._gray {
    color: #505050;
    background-color: #e0e0e0;
    border: 1px solid #505050;
}

.business-tag {
    width: 50px;
    height: 14px;
    padding: 4px 0px 4px 15px;
    padding-left: 10px;
    text-align: left;
    line-height: 14px;
    border-radius: 10px;
}

.business-tag._blue {
    background-color: #e0e0e0;
    color: #505050;
}

.business-tag._green {
    background-color: #D7FED1;
    color: #387C22;
}

/* .development-tag {
    width: 60px;
    height: 14px;
    padding: 4px 0px;
    text-align: center;
    line-height: 14px;
    border-radius: 4px;
}
*/

.development-tag._blue {
    color: #3200e7;
    /* background-color: #703dfc;
    border: 1px solid #3200e7; */
}

/* //image */

.project .smallpic {
    height: 10%;
    width: 20%;
}

/* ////====PROJECT-LIST ENDS====//// */


/* ////====ASSIGN STYLING STARTS====//// */

#table-nav._assign {
    position: relative;
    width: 1200px;
    transform: translateX(-50%);
    left: 50%;
    height: 80px;
    padding: 0;
}

.assign-header-sub-row {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assign-header-sub-row li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-left: 1px solid #d0b150;
}

.assign-header-sub-row li:nth-child(2) {
    width: 180px;
}

.assign-header-sub-row li:last-of-type {
    border-right: 1px solid #d0b150;
}

.table-header._assign {
    position: relative;
    box-sizing: border-box;
    width: 1200px;
    transform: translateX(-50%);
    left: 50%;
    height: 50px;
    border: 1px solid #bcb8b84d;
    border-bottom: 0.5px solid #00000010;
    margin-bottom: 5px;
    box-shadow: 0 3px 2px #00000025;
}

.table-header._assign li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.table-header._assign li:nth-child(2) {
    width: 180px;
}

.table-header._assign li:last-of-type {
    border-right: 1px solid #bcb8b84d;
}

.table-body._assign {
    position: relative;
    width: 1200px;
    height: calc(100vh - 300px);
    transform: translateX(-50%);
    left: 50%;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.assign-user-tab {
    /* border: 1px solid green; */
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2px;
    border-bottom: 3px solid #bcb8b84d;
    box-shadow: 0 3px 2px #00000025;
}

.assign-user-sub-row {
    height: 50px;
    width: 100%;
    border: 1px solid #bcb8b84d;
    border-bottom: 0.5px solid #00000010;
    box-sizing: border-box;
}

.assign-user-sub-row li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-left: 1px solid #bcb8b84d;
}

.assign-user-sub-row li:nth-child(2) {
    width: 180px;
}

.assign-user-sub-row li:last-of-type {
    border-right: 1px solid #bcb8b84d;
}

.assign-user-sub-row._header {
    border-bottom: 2px solid #bcb8b8;
}

.assign-user-row {
    display: none;
}

.wrapper {
    font-size: 13px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.text-medium {
    font-weight: 600;
}

.text-lg {
    font-size: 16px;
    letter-spacing: 0;
}

.d-flex {
    display: flex;
}

.fa-caret-right, .fa-caret-left {
    cursor: pointer;
    margin-left: 0!important;
    background-color: transparent!important;
    width: 50px;
    padding: 7px 7px;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}

.mild-yellow {
    background-color: #FFD965;
    border-top: 3px solid #fcdf88;
    border-bottom: 3px solid #d0b150;
    color: black;
}

.grey {
    background-color: #757171;
    border-bottom: 3px solid #686464;
    border-left: 3px solid #686464;
}

.blue {
    background-color: #93A9D7;
    border-bottom: 3px solid #7e91b9;
    border-left: 3px solid #7e91b9;
}

.green {
    background-color: #B1CE95;
    border-bottom: 3px solid #9cb782;
    border-left: 3px solid #9cb782;
}

.face-color {
    background-color: #EBB28B;
    border-bottom: 3px solid #daa481;
    border-left: 3px solid #daa481;
}

.faded-green {
    background-color: #E4EEDC;
}

.faded-blue {
    background-color: #DBE1F1;
}

.faded-face-color {
    background-color: #F9E4D8;
}

.faded-grey {
    background-color: #CFCDCD;
}

.faded-yellow {
    background-color: #FEF2D0;
}

.yellow {
    background-color: #fcff006b;
    border-bottom: 3px solid #efef04;
    border-left: 3px solid #efef04;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.right-align {
    justify-content: flex-end !important;
}
/* ////====ASSIGN STYLING ENDS====//// */

/* ////====PROJECT EDIT-MODE STYLING STARTS====//// */
.editMode{
    display: none;
}

.project input[type=text]{
    padding: 0;
    width:55px;
    margin:0;
    border-radius: 0;
    border: 0.5px solid#dddddd;
    height: 1.3rem;
    font-size: 10px;
    line-height: 1.3rem;
    text-align: center;
}

/* ////====PROJECT EDIT-MODE STYLING ENDS====//// */