/* ////====GENERAL STYLING====//// */

html {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
    width: device-width;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
}

.row {
    width: 100%;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    box-sizing: border-box;
}

.row-content {
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    padding: 1rem;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* .sidebar-container-fluid {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    margin: unset;
    padding: unset;
    z-index: 1000;
} */

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.center {
    display: flex;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 4px 1px;
}

.fw-block {
    display: block;
    width: 100%;
}

/* ////====Floating====//// */

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/* ////====COLORS====//// */
.primary {
    background-color: #3AA0DE;
    color: white;
}

/*////====MARGIN====////*/

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mb {
    margin-bottom: 1.5rem;
}

.mt {
    margin-top: 1.5rem;
}

/*////====TEXT====////*/

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-xs {
    font-size: 83%;
    font-weight: 550;
}

.text-lg {
    font-size: 160%;
    padding: 1%;
    font-weight: 600;
    letter-spacing: 10px;
}

/*////====LOGIN PAGE====////*/

#page-top {
    margin-top: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 4px 1px;
    margin-bottom: 2rem;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    align-items: center;
    min-height: 3rem;
    margin-bottom: 0px;
}

.header-icon img {
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 0.9rem;
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-image: url("../img/bg2.jpg");
    height: 100vh;
    width: 100vw;
}

.overlay {
    background-color: #03f6a34f;
    opacity: 0.2;
    height: 100vh;
}

.p-r {
    position: relative;
}

.login-body {
    position: absolute;
    background-color: #050c23ba;
    border: 1px solid;
    border-color: white;
    top: 20%;
    left: 30%;
    right: 30%;
    width: 40%;
    min-height: 55%;
    padding-bottom: 4%;
}

.login-form {
    padding: 0 12% 5% 12%;
}

.profile-icon {
    display: flex;
    justify-content: center;
}

.profile-icon img {
    width: 18%;
    height: 18%;
    border-radius: 50%;
    margin-top: -10%;
}

.input {
    padding: 3px 5px;
}

.input input {
    display: block;
    outline: none;
    font-size: 11px;
    width: 100%;
    height: 25px;
    border-radius: 6px;
}

/*BUTTONS*/

.btn {
    text-align: center;
    min-width: 55%;
    padding: 4% 22%;
    border-radius: 8px;
    outline: none;
}

.btn-orange {
    background-color: #ff7744;
    color: white;
    text-align: center;
    border: none;
    font-weight: 600;
}

.btn-orange:hover {
    background-color: #0088ff;
    transform: scale(1.1);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    font-size: 11px;
}

/*ERROR*/

.error-msg {
    color: yellow;
    margin: 1% 0;
    display: none;
}

/* ////========SIDEBAR MENU==========//// */

#header_top {
    /* background-color: #23305c; */
    background-color: #0b1841e3;
    z-index: 1030;
    position: fixed;
    width: 60px;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

#header_top .container {
    color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#nav {
    margin-top: 5rem;
}

#nav li {
    display: inline-flex;
    width: 100%;
    padding: 12px;
    margin-top: 1rem;
}

#nav li a {
    width: 100%;
}

#nav li a:hover {
    color: #587bd3eb;
}

.header-icon>.label-text {
    font-size: 15px;
}

.label-text {
    font-size: 12px;
    margin-left: 15px;
}

.fa {
    width: 25%;
}

.hide {
    display: none;
}

#header_top .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 0px 1px;
}

.fade-left {
    animation: appear 0.5s;
}

.fade-right {
    animation: disappear 0.5s;
}

/* ////====LOGO_HOLDER====//// */

.logo-holder {
    position: fixed;
    left: 0;
    width: 100%;
    max-height: 8%;
    margin-top: 0;
    background-color: #587bd3;
    color: white;
    z-index: 2000;
}

.logo-holder .row {
    justify-content: flex-start;
}

.logo-holder h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

.sys-name {
    width: 50%;
}

.user-profile {
    width: 50%;
    margin-right: 3%;
}

.user-profile img {
    border-radius: 50%;
    margin: 1%;
}

.user-profile .fa {
    width: 5%;
    margin: 3% 1%;
}

/*////====ANIMATIONS====////*/

@keyframes appear {
    0% {
        transform: translate(-100px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

/*////==== MEDIA QUERIES===//// */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 599px) {
    .header-icon img {
        height: 12%;
        width: 12%;
        padding-top: 1%;
    }
    .input input {
        height: 12px;
    }
    .login-body {
        right: 10%;
        left: 10%;
        width: 80%;
        min-height: 45%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 767px) {
    .text-lg {
        font-size: 100%;
        padding-top: 2%;
    }
    .text-xs {
        font-size: 50%;
    }
    .label {
        font-size: 70%;
    }
    .header-icon img {
        height: 6%;
        width: 6%;
        padding-top: 1%;
    }
    .btn {
        min-width: 50%;
        font-size: 30%;
        text-align: center;
        padding: 4% 10%;
    }
    .mt {
        margin-top: 2%;
    }
    .mb {
        margin-bottom: 5%;
    }
}

/* Medium devices (large laptops and desktops, 1024px and down) */

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .login-body {
        right: 20%;
        left: 20%;
        width: 60%;
        min-height: 45%;
    }
}

/* ////======== ACTUAL CONTENT BODY ==========//// */

#background-shade {
    display: none;
    position: absolute;
    top: 0;
    left: 60px;
    width: calc(100% - 60px);
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: 0.5s ease all;
    z-index: 100;
}

.page-container {
    position: absolute;
    top: 8%;
    left: 60px;
    margin: 30px 40px;
    width: calc(100% - 100px);
    height: 100%;
    z-index: 1;
}

/* ////======== USER LIST ==========//// */

.user-list {
    color: black;
    position: relative;
}

.user-list .d-flex .row-content {
    padding: 1% 5% 1% 2%;
}

.page-title {
    width: 50%;
}

.btn-holder {
    width: 47%;
}

.register-btn {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    max-width: 25%;
    border-radius: 8px;
    margin: 0.83em 5% 0.83em auto;
    padding: 2% 3%;
    font-size: 85%;
}


.content-width {
    width: 100%;
}

/*=== USER_LIST NAV=== */

.userlist-nav {
    display: inline-flex;
    padding-left: 0;
    font-size: 80%;
    align-items: center;
    line-height: 0.8rem;
    margin-bottom: 0.2rem;
}
.userlist-nav a{
    margin-right: 0.5rem;
    border-radius: 8px;
    color: white;
}

.userlist-nav a li {
    padding: 0.5rem 1rem;
}
.userlist-nav a:nth-child(1){
    color: black;
}
.userlist-nav a:nth-child(2){
    background-color:#28c128;
}
.userlist-nav a:nth-child(3){
    background-color: blue;
}
.userlist-nav a:nth-child(4){
    background-color: #f86128;
}


#table-nav {
    font-size: 80%;
    width: auto;
    padding: 1px;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

#table-nav .flex-col {
    padding-left: 2rem;
    padding-right: 2rem;
}

#table-nav .row {
    margin-left: 1rem;
    padding: 2px;
}

.card {
    width: 85%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    word-wrap: break-word;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 4px 1px;
    margin-bottom: 0.5rem;
}

.card-header {
    font-size: 80%;
    padding: .75rem 3rem .75rem 2rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    display: block;
}

.display {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-center;
    width: 100%;
}
.display li {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    min-width: 7.5%;
    padding: 0px 5px;
    font-size: 100%;
    justify-content: center;
}

.smallpic {
    border-radius: 25%;
    float: left;
    margin: 0 .5rem 0 -.5rem;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0px 5px;
}